@model BlogBLL.ViewModels.Role.AddAppRoleViewModel
@{
    ViewData["Title"] = "Добавление роли";
    Layout = "../Admin/_Layout";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <hr/>
    <form asp-controller="Roles" asp-action="Create" method="post">
        <div class="form-group">
            <div>
                <label asp-for="Name">Название</label><br/>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="About">Описание</label>
                <textarea asp-for="About" class="form-control"></textarea>
                <span asp-validation-for="About"></span>
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Добавить"/>
            </div>
        </div>
    </form>
    <a asp-controller="Roles" asp-action="Index"></a>
</div>