@model string
@{
    
}
<div class="container">
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label for="name">Новая роль</label>
            <input name="name" class="form-control"/>
            <br/>
            <input type="submit" class="btn btn-primary" value="Добавить"/>
        </div>
    </form>
</div>