@model int
@{
    Layout = "_Layout";
    ViewData["Title"] = "Error";
}
<div class="container">
    <div>
        @switch (Model)
        {
            case 404:
                <partial name="Error404"/>
                break;
            case 403:
                <partial name="Error403"/>
                break;
            case 400:
                <partial name="Error400"/>
                break;
            default:
                <partial name="ErrorOops"/>
                break;
        }
    </div>
    <div>@ViewBag.Path</div>
</div>