/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
a:link{
  color:#0b2e13;
  text-decoration:none
}
a:visited{
  color:#0b2e13;
  text-decoration:none
}
a:hover{
  color:red;
  text-decoration:none;
}
a:active{
  color:yellow;
  text-decoration:none;
}
form.hide-submit input[type="submit"] {
  display: none;
}
svg:hover{
  color:red;
  text-decoration:underline;
  border-color: #1b6ec2;
  border-width: medium;
  cursor: pointer;
}
label span{
  font-style: italic;
}
.card-header{
  padding: 20px;
  -webkit-box-shadow: -1px 10px 28px 2px rgba(47, 49, 50, 0.2) inset;
  -moz-box-shadow: -1px 10px 28px 2px rgba(47, 49, 50, 0.2) inset;
  box-shadow: -1px 10px 28px 2px rgba(47, 49, 50, 0.2) inset;
}
.card-body{
  padding: 20px;
  box-shadow:
          inset 0 -3em 3em rgba(0, 0, 0, 0.1),
          0 0 0 2px rgb(255, 255, 255),
          0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.card-footer{
  padding: 20px;
  -webkit-box-shadow: -1px -10px 28px 2px rgba(47, 49, 50, 0.2) inset;
  -moz-box-shadow: -1px -10px 28px 2px rgba(47, 49, 50, 0.2) inset;
  box-shadow: -1px -10px 28px 2px rgba(47, 49, 50, 0.2) inset;
}

.adminPanel{
  background-color: #eee;
  background-image: linear-gradient(left,gray,white);
  background-image: -o-linear-gradient(left,gray,white);
  background-image: -moz-linear-gradient(left,gray,white);
  background-image: -webkit-linear-gradient(left,gray,white);
  padding-left: 30px;
  border-bottom-left-radius: 30px;
}

