@model BlogBLL.ViewModels.Post.AddPostViewModel
<div>
    <form asp-controller="Post" asp-action="AddPost">
        <div>
            <label asp-for="Heading"></label>
            <input asp-for="Heading" class="form-control">
            <span asp-validation-for="Heading"></span>
        </div>
        <div>
            <label asp-for="Post"></label>
            <textarea type="" asp-for="Post" class="form-control"></textarea>
            <span asp-validation-for="Post"></span>
        </div>
        <div>
            <label asp-for="Tag"></label>
            <input asp-for="Tag" class="form-control">
        </div>
        <input type="hidden" asp-for="PostId" value="@Model.PostId"/>
        <input type="hidden" asp-for="UserId" value="@Model.UserId"/>
        <input type="hidden" asp-for="Public" value="@DateTime.Now"/>
        
        <div>
            <input type="submit" value="Записать"/>
        </div>
    </form>
</div>

