@model BlogBLL.ViewModels.Account.LoginViewModel

@{
    ViewData["Title"] = "Логин";
}
<div class="container">
    <form method="post" asp-controller="AccountManager" asp-action="Login" asp-route-model="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Email"></label><br />
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input class="form-control" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="RemmberMe"></label>
            <input asp-for="RemmberMe" />
        </div>
        <input class="btn btn-outline-primary" type="submit" value="Войти" />
    </form>
</div>