@model IEnumerable<BlogDAL.Models.User>

@{
    ViewBag.Title = "Список пользователей";
    Layout = "../Admin/_Layout";
}
<div class="container">
    <br/>
    <table>
        <tr>
            <td colspan="2" style="text-align: right">
                <a class="btn btn-outline-dark" asp-action="Create">Добавить пользователя</a>
            </td>
        </tr>
        <tr><th>Email</th><th>Действия</th></tr>

        @foreach (var user in Model)
        {
            if (!string.Equals(user.UserName, "admin"))
            {
                <tr>
                    <td style="text-align: left">@user.Email</td>
                    <td>
                        <div class="row">
                            <div>
                                <a class="btn btn-sm btn-primary" asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                            </div>
                            <div>
                                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        Удалить
                                    </button>
                                </form>
                            </div>
                        </div>


                    </td>
                </tr>
            }
        }
    </table>
</div>
