@using Microsoft.AspNetCore.Identity
@model IEnumerable<BlogDAL.Models.Post>
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Home Page";
}
@if (SignInManager.IsSignedIn(User))
{
    <a asp-controller="Post" asp-action="AddPost">Дабавить пост</a>
}
else
{
    <h4 style="color: cornflowerblue">Что бы добавить статью, зарегистрируйтесь на сайте</h4>
}

}
