@model IEnumerable<BlogDAL.Models.Post>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Home Page";
}
@if (SignInManager.IsSignedIn(User))
{
    <a asp-controller="Post" asp-action="AddPost">Дабавить пост</a>
}
else
{
    <h4 style="color: cornflowerblue">Что бы добавить статью, зарегистрируйтесь на сайте</h4>
}
<style>
    span{
    font-style: italic;
    }
    a:link{
    color:#0b2e13;
    text-decoration:none
    }
    a:visited{
    color:#0b2e13;
    text-decoration:none
    }
    a:hover{
    color:red;
    text-decoration:underline
    }
    a:active{
    color:yellow;
    text-decoration:underline
    }
</style>
<div>
    @foreach (var blog in Model)
    {
        <a asp-controller="Post" asp-action="GetPostById" asp-route-id="@blog.Id">
            <h4>@blog.Heading</h4>
        </a>
        <small><span>Дата публикаци: </span>@blog.DatePublic <span>Автор: </span>@blog.User!.UserName</small><br/>
        @foreach (var tag in blog.PostTags!)
        {
            <small>#@tag.Tag!.Stick</small>
        }
    }
</div>


